/* 
* @Author: Marte
* @Date:   2016-10-25 20:50:24
* @Last Modified by:   Marte
* @Last Modified time: 2016-11-06 20:45:45
*/
body{
    overflow-x:hidden;
}
body,header,img{
    margin:0;
    padding:0;
    font-family:'Arial Narrow';
}
/*li{
    list-style:none;
}*/
input:focus{
}
header{
    width:100%;
    height:50px;
    line-height:50px;
    background-color:#01a4e4;
    -webkit-transform:scale(0.1);
}
li{
    list-style:none;
}
.heading{
    width:1200px;
    margin:0 auto;
}

.heading .container1{
    border-left:1px solid #ffffff;
    border-color:rgba(250,250,250,0.5);
    width:180px;
    float:left;

}
.heading .container1 .glyphicon,.heading .email .glyphicon{
    border-style:solid;
    border-width:1px;
    border-color:rgba(250,250,250,0.5);
    padding:5px;
    color:#ffffff;
    font-size:12px;
    border-radius:5px;
    margin:0 10px;
    margin-left:20px;
}
.heading .container1 span,.email span{
    color:#ffffff;
    transition:1s;
}
.heading .email:hover span{
    color:#fba311;
}
.email{
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-color:rgba(250,250,250,0.5);
    cursor:pointer;
    width:200px;
    float:left;
}

.login,.signup,.search{
    float:right;
    border:1px solid rgba(250,250,250,0.5);
    padding:6px 13px;
    line-height:0px;
    margin-top:10px;
    margin-right:10px;
    cursor:pointer;
}
.login .glyphicon,.login span,.signup span,.signup .glyphicon,.search .glyphicon{
    color:#ffffff;
}
#login,#Signup{
    border:1px solid #ccc;
    width:500px;
    height:500px;
    line-height:40px;
    margin:0 auto;
    position: absolute;
    top:0;
    left:40%;
    transform:translateY(-500px);
    text-align:left;
    z-index:101;
    background-color:#ffffff;
    transition:1s;
    padding-left:40px;
    padding-top:30px;
}
#Signup{
   padding-top:20px; 
}
#login h2,#Signup h2{
    color:#fda616;
    font-size:24px;
    word-spacing:4px;
    font-weight:normal;
    letter-spacing:1px;
}
#login label,#Signup label{
    letter-spacing:1px;
}
#login p:nth-of-type(2),#Signup p:nth-of-type(2){
    float:right;
    margin-top:-420px;
    padding-right:30px;
    font-size:24px;
    cursor:pointer;
    color:#ccc;
}
#Signup p:nth-of-type(2){
    margin-top:-450px;
}
#login p:nth-of-type(2):hover,#Signup p:nth-of-type(2):hover{
    color:#000000;
}
#login p:nth-of-type(1),#Signup p:nth-of-type(1){
    text-align:center;
    width:400px;
    height:30px;
    line-height:20px;
    padding-left:0;
    word-spacing:3px;
    letter-spacing:0.8px;
    margin-top:25px;
    font-weight:bolder;
}
#login  span,#Signup  span{
    color:#aaa;
    word-spacing:4px;
}
#login  #borderS,#Signup #borderSs{
    padding:0.5px 8px;
    border:2px solid #fda616;
    margin-right:4px;
    cursor:pointer;
}
#login .glyphicon-ok,#Signup .glyphicon-ok{
    display:none;
    color:#000000;
}
#login input,#Signup input{
    width:400px;
    height:40px;
    margin:0 auto;
    color:#ccc;
    border:none;
    border:1px solid #ccc;
}
#login input:hover,#Signup input:hover{
   border-color:#fda616;
}
#login input:nth-of-type(3),#Signup input:nth-of-type(4){
    background-color:#666;
    color:#ffffff;
    font-size:20px;
    font-weight:100;
    transition:1s;
}
#login input:nth-of-type(3):hover,#Signup input:nth-of-type(4):hover{
    background-color:#fda616;
}
#shade{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background-color:#ccc;
    opacity:0.3;
    display:none;
}
.nv1{
    width:1200px;
    height:100px;
    line-height:100px;
    margin:0 auto;
    clear:both;
}
.nv1{
    position: relative;
}
.nv1 em{
    font-style:normal;
    color:#000;
}
.nv1 span{
    font-size:35px;
    letter-spacing:1px;
    position: absolute;
    left:40px;
    color:#fba311;
}
.nv1 ul{
    float:right;
}
.nv1 ul li{
    float:left;
    margin-top:28px;
    padding:0 20px;
    margin-right:15px;
    border:2px solid #fba311;
    line-height:40px;
}

#scrollImg,#scrollImg .scrollUl,#scrollImg .scrollUl li,#scrollImg .scrollUl li img{
    margin:0;
    padding:0;
}
#scrollImg{
    width:1900px;
    height:780px;
    position: relative;
}
#scrollImg .scrollUl{
    width:1900px;
    height:780px;
    overflow:hidden;
}
#scrollImg .scrollUl li{
    position: absolute;
}
#scrollImg .num {
    position: absolute;
    left:600px;
    bottom:50px;
}
#scrollImg .num li{
    float:left;
    height:5px;
    padding:0 25px;
    margin-right:10px;
    background-color:#ccc;
    border-radius:3px;
    cursor:pointer;
    transition:0.5s;
}
#scrollImg .information{
    width:1200px;
    position: absolute;
    top:0;
    left:0;
}
#scrollImg .information li{
    position: absolute;
    display:none;  
}
#scrollImg .information li input{
    width:165px;
    height:40px;
    color:#ffffff;
    background-color:#fda30e;
    border:none;
    font-size:16px;
    margin-top:140px;
    border:0.1px solid #fda30e;
}
#scrollImg .information li a{
    text-decoration:none;
    color:#fda30e;
    transition:0.35s;
    z-index:9;
}
#scrollImg .information li a:hover{
    outline:4px solid #fda30e;
    outline-offset:4px;
    transition:0.35s;
    z-index:9;
}
#scrollImg .information li a:visited{
    color:#000;
}
#scrollImg .information li p{
    margin-top:50px;
    height:30px;
    line-height:30px;
}
#scrollImg .information li:nth-of-type(2) input,#scrollImg .information li:nth-of-type(4) input{
    margin-top:80px;
}
#scrollImg .information li:nth-of-type(2) p,#scrollImg .information li:nth-of-type(4) p{
   color:#ffffff;
   letter-spacing:1px;
   word-spacing:3px;
}
#scrollImg .information li:nth-of-type(1) p,#scrollImg .information li:nth-of-type(3) p{
    color:#000000;
    letter-spacing:1px;
    word-spacing:3px;
}
#scrollImg .information li:nth-of-type(1),#scrollImg .information li:nth-of-type(3){
    left:220px;
    top:200px;
    width:560px;
}
#scrollImg .information li:nth-of-type(2),#scrollImg .information li:nth-of-type(4){
    left:250px;
    top:150px;
    width:1060px;
    text-align:center;
}
#scrollImg .information h2{
    color:#01a4e4;
    font-weight:lighter;
}
#welcome{
    width:1200px;
    height:400px;
    margin:0 auto;
    border:1px solid red;
    color:red;
}
#welcome img{
    float:left;
    margin-top:50px;
}
#welcome .info{
    height:100%;
    width:350px;
    margin-left:50px;
    padding-top:20px;
    float:left;
    text-align:center;
    background-color:#01a4e4;
    color:#ffffff;
}
#welcome .info ul{
    width:350px;
    padding-left:0;
    text-align:center;
}
#welcome .info ul li{
    height:39.3px;
    line-height:39.3px;
    background:url(../img/tt.png) no-repeat 15% 50%;
    cursor:pointer;
}
#welcome .info ul li span{
    color:#ffffff;
    word-spacing:2px;
    transition:0.3s;
    display:block;
}
#welcome .info ul li span:hover{
    transform:translateX(10px);
}
.form{
    width:300px;
    float:right;
    text-align:center;
    margin-top:40px;
    margin-right:0px;
}
.form h2{
    color:#01a4e4;
}
.form input{
    display:block;
    width:300px;
    height:35px;
    line-height:35px;
    margin-top:20px;
    color:#999;
    border-left:none;
    border-top:none;
    border-color:#fff;
    border:1px solid #01a4e4;
}
.form input:nth-of-type(5){
    width:100px;
    height:40px;
    background-color:#fda30e;
    border:none;
    color:#ffffff;
    font-size:20px;
}
.form input:nth-of-type(5):hover{
    background-color:#01a4e4;
}
#services{
    width:100%;
    height:780px;
    color:#ffffff;
    letter-spacing:1.2px;
    word-spacing:2px;
    background:url(../img/pic2.jpg) no-repeat;
    overflow:hidden;
}
#services .services{
    padding-top:50px;
    width:1200px;
    height:780px;
    border:1px solid red;
    margin:0 auto;
    text-align:center;
}
#services .services h2{
    color:#01a4e4;
}
#services .services .bestSerives{
    width:350px;
    height:780px;
    float:left;
    padding-top:20px;
    line-height:25px;
    text-align:left;
}
#services .services .bestSerives p{
    margin-top:40px;
}
#services .services .bestSerives a{
    float:left;
    text-decoration:none;
    transition:0.35s;
    z-index:9;
    margin:40px 0;
}
#services .services .bestSerives a:hover{
    outline:4px solid #fda30e;
    outline-offset:4px;
    transition:0.35s;
    z-index:9;
}
#services .services .bestSerives a input{
    width:150px;
    height:40px;
    border:0;
    background-color:#fda30e;
    color:#ffffff;
    font-size:18px;
}
#services .services .bestSerives .scrollSerives{
    clear:both;
}
#services .services .bestSerives .scrollSerives .scrollNum li{
    width:60px;
    height:5px;
    background-color:#ffffff;
    display:inline-block;
    border-radius:5px;
}
#services .services .bestSerives .scrollSerives ul{
    margin:0;
    padding:0;
    text-align:left;
}
#services .services .vol1{
    width:350px;
    height:780px;
    float:left;
    text-align:center;
    margin-left:45px;
    padding-top:20px;
    border:1px solid red;
    line-height:25px;
}
#services .services .vol1-child1:hover .cross-shaped,#services .services .vol1-child2:hover .apple,#services .services .vol2-child1:hover .cross-shaped,#services .services .vol2-child2:hover .apple{
    border-radius:100px;
    border-color:#fda30e;
}
#services .services .cross-shaped,#services .services .apple{
    border:1px solid #ffffff;
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    margin-left:140px;
}
#services .services .vol2{
    width:350px;
    height:780px;
    float:left;
    margin-left:103px;
    text-align:center;
    border:1px solid red;
    padding-top:20px;
    line-height:25px;
}
#services .services .vol1 .vol1-child1,#services .services .vol1 .vol1-child2{
    border:1px solid green;
    height:300px;
}
#services .services .vol2 .vol2-child1,#services .services .vol2 .vol2-child2{
    border:1px solid green;
    height:300px;
}
#team{
    width:1200px;
    height:700px;
    border:1px solid red;
    margin:0 auto;
    text-align:center;
    padding-top:80px;
}
#team h1{
    color:#01a4e4;
}
#team h2{
    color:#fda30e;
    font-size:22px;
    word-spacing:4px;
}
#team p{
    font-size:14px;
    font-weight:bolder;
}
#team .team{
    float:left;
}
#team .team .team-child{
    position: relative;
    margin-right:47px;
    border:1px solid blue;
}
#team .team .team-child .contactStyle{
    position: absolute;
    bottom:0;
    left:0;
    width:343px;
    height:40px;
    line-height:40px;
    margin-left:4px;
    margin-bottom:2px;
    background-color:#eee;
    opacity:0.7;
}
#team .team .team-child .contactStyle span{
    border:1px solid black;
    padding:10px;
    color:#01a4e4;
    transition:1s;
}
#team .team .team-child .contactStyle span:hover{
    background-color:#fda30e;
}
#capab {
    width:1200px;
    height:400px;
    margin:0 auto;
    text-align:center;
    border:1px solid red;
    padding-top:50px;
}
#capab .capab h2{
    color:#01a4e4;
}

#capab .capab div{
    float:left;
    width:200px;
    height:200px;
    margin-right:120px;
    border-top:2px solid #01a4e4;
    border-left:2px solid #01a4e4; 
    border-bottom:2px solid #000000;
    border-right:2px solid #000000;
    border-radius:100px; 
    text-align:center;
}
#capab .capab .capab1,#capab .capab .capab2,#capab .capab .capab3,#capab .capab .capab4{
    padding-top:40px;
}
#capab .capab .capab1 p:nth-of-type(2),#capab .capab .capab2 p:nth-of-type(2),#capab .capab .capab3 p:nth-of-type(2),#capab .capab .capab4 p:nth-of-type(2){
   color:#000000;
   font-weight:bolder;
   font-size:18px;
}
#capab .capab .capab1 p:nth-of-type(1),#capab .capab .capab2 p:nth-of-type(1),#capab .capab .capab3 p:nth-of-type(1),#capab .capab .capab4 p:nth-of-type(1){
   font-size:70px;
}
#capab .capab .capab1 p:nth-of-type(1){
    color:#01a4e4;
}
#capab .capab .capab2 p:nth-of-type(1){
    color:#b7c439;
}
#capab .capab .capab3 p:nth-of-type(1){
    color:#fda30e;
}
#capab .capab .capab4 p:nth-of-type(1){
    color:#464646;
}
#capab .capab div:nth-of-type(4){
    margin-right:0px;
    float:right;
}
footer{
    width:100%;
    height:600px;
    background-color:#253b50;
    text-align:center;
}
footer .foot{
    width:1200px;
    height:600px;
    margin:0 auto;
    color:#cccccc;
    border:1px solid red;
    text-align:left;
    letter-spacing:1px;
    word-spacing:2px;
    padding-top:150px;
}
footer .foot h2{
    color:#ffffff;
}
footer .foot .h22{
    width:50px;
    height:20px;
    border-top:2px solid #01a4e4; 
}
footer .foot .foot-child{
   width:600px;
   height:200px;
   border:1px solid red;


}
footer .foot .foot-child1{
   width:600px;
   height:100px;
   line-height:100px;
   border:1px solid red;
}
footer .foot .foot-child2{
   width:600px;
   height:300px;
   border:1px solid red;
   float:right;
   margin-top:-300px;
   line-height:30px;
   padding-left:30px;
}
footer .foot .foot-child2 input{
    height:40px;
    width:200px;
    background-color:#253b50;
    border:none;
    border:1px solid #ffffff;
    margin-top:20px;
}
footer .foot .foot-child2 .emal-bottom{
    color:#ffffff;
    transition:1s;
}
footer .foot .foot-child2 .emal-bottom:hover{
    color:#fda30e;
}
footer .foot .foot-child2 .ct span{
    border:1px solid #ccc;
    padding:10px;
    color:#01a4e4;
    margin-top:20px;
}
footer .foot .foot-child2 .ct span:hover{
    border:1px solid #ccc;
    padding:10px;
    color:#fda30e;
}
footer .foot .foot-child2 input:nth-of-type(3){
    background-color:#fda30e;
    border:none;
    font-size:18px;
    font-weight:bold;
    height:40px;
    line-height:40px;
}
footer .foot .foot-child2 input:nth-of-type(3):hover{
   background-color:#01a4e4;
}
